.menu {
    background-color: rgb(252, 245, 236);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #181f01;
    width: 25%;
    height: 100vh;
    padding: 40px 0 0 40px;
}

.itemMenu {
    color: white;
    text-decoration: none;
}